@{
    Layout = "_LayoutDetails";
}

@section StyleDetails{
    <link rel="stylesheet" href="~/css/mydetails.css" />
}

@using net_il_mio_fotoalbum.Models.Database_Models;
@model PhotoFormModel


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center">
                <h1 class="mt-5 mb-4">Modifica foto</h1>
            </div>
            <form asp-controller="Fotoalbum" asp-action="Update" asp-route-id="@Model.Photo.Id" enctype="multipart/form-data" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Photo.Id" />
                <div class="mb-3">
                    <label asp-for="Photo.Title" class="form-label text"><b>Titolo:</b></label>
                    <div>
                        <input asp-for="Photo.Title" class="d-block w-100" />
                        <span asp-validation-for="Photo.Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="Photo.Description" class="form-label text"><b>Descrizione:</b> </label>
                    <div>
                        <textarea asp-for="Photo.Description" rows="10" class="d-block w-100"></textarea>
                        <span asp-validation-for="Photo.Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="Photo.ImageUrl" class="form-label text"><b>URL Immagine:</b> </label>
                    <div>
                        <input asp-for="Photo.ImageUrl" class="d-block w-100" />
                        <span asp-validation-for="Photo.ImageUrl" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <img src="@Model.Photo.ImageSrc" class="d-block w-50 mb-3">
                    <label asp-for="ImageFormFile" class="form-label text">File Immagine</label>
                    <input type="file" asp-for="ImageFormFile" />
                    <span asp-validation-for="ImageFormFile" class="text-error"></span>
                </div>

                <div class="mb-3">
                    <strong class="text">Categorie: </strong>
                    <select asp-for="SelectedCategoriesId"
                            multiple="multiple"
                            size="10"
                            class="form-control mb-2 mr-sm-2 ml-sm-3 leftList"
                            asp-items="@Model.Categories">
                    </select>
                </div>


                <div class="text-end">
                    <input type="submit" class="btn btn-small btn btn-secondary fw-bold text-white" value="Modifica Foto">
                </div>

                <div class="text-start mb-4">
                    <a class="btn btn-primary mt-5" href="@Url.Action("Index", "Fotoalbum")" role="button">
                        <b>Torna Indietro</b>
                    </a>
                </div>
            </form>

        </div>

    </div>
</div>




